.team {
  background-color: var(--sections-background-color);
}

.team__item {
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__text {
  padding: 30px 32px;
  text-align: center;
}

.team__social-list {
  margin-top: 16px;
}

.team-socials {
  fill: var(--logo-clr);
}
