.team__img-description {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.18;
  color: var(--description-text-color);
}

.primary-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-color);
}
