.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.logo_text_black {
  color: var(--logo-link-clr);
}

.logo_text_white {
  color: var(--primary-color);
}

.logo-first-word {
  color: var(--accent-color);
}
