.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 12px;
}
.modal-form-field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--description-text-color);
}

.modal-form-input-wrapper {
  margin-top: 4px;
  position: relative;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;

  .modal-form-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form-comments {
  margin-top: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  &::placeholder {
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form-checkbox-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.71;
  color: var(--description-text-color);

  &::before {
    display: inline-block;
    width: 16px;
    height: 15px;
    content: "";
    margin-right: 7px;
    cursor: pointer;
    background-image: url(../images/border.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-form-checkbox:focus + &::before {
    background-image: url(../images/focus.svg);
  }

  .modal-form-checkbox:checked + &::before {
    background-image: url(../images/icon-check1.svg);
  }
}

.modal-form-policy-link {
  color: var(--accent-color);
}

.modal-form-btn {
  width: 200px;
  height: 50px;
  margin: 30px auto 0 auto;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--mdl-btn-clr-hvr);
  }
}
